.renderer{
    padding: 20px;

    &__control, &__control > div{
        width: 100%;
    }

    &__control > div{
        display: flex;
        justify-content: center;
    }

    &__control:not(:last-child){
        margin-bottom: 20px;
    }

    &__control input, &__control select{
        width: 60%;
        padding: 10px;
        border-width: 1px;
        min-width: 200px;
        border-radius: 4px;
        outline: none;
        border-left: 3px solid #222224;
        background-color: #fff;
    }

    &__no-controls{
        font-size: 1.6rem;
        text-align: center;
    }
}