.preview{
    &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        align-items: center;
        border-bottom: 1px solid;
        height: 40px;
    }

    &__close{
        cursor: pointer;
        font-size: 20px;
    }

}